
.head{
  text-align: center;
  color: black;
  text-shadow: 3px 3px aqua;
}
.btn{
  padding: 15px;
  background-color: aquamarine;
  border-radius: 20px;
  margin: 30px;
  cursor: pointer;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
}
.component{
  display: flex;
  justify-content: space-evenly;
}
.component1{
  width: 500px;
  height: 300px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 30px;
  background-color: aqua;
  text-align: center;
}
.component2{
  width: 500px;
  height: 300px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 30px;
  background-color: violet;
  text-align: center;
}
.text{
font-weight: bold;
}